/aerenderpro/media/extracted_projects/*
/aerenderpro/media/final_videos/*
/aerenderpro/media/compressed_projects/*
*.DS_Store
/media/category_images/*
/media/final_videos/*
/media/temp_video_templates/*
/media/template_demo_videos/*
/media/uploads/*
/media/user_extracted_projects/*
/media/zipped_projects/*
/media1
/static1
*.pyc
/staticfiles
conf/*
pyatra/settings.py
