[uwsgi]
chdir           = /var/www/html/pyatra
module          = pyatra.wsgi
home            = /var/www/html/renderpro_env
master          = true
processes       = 4
socket          = /var/www/html/pyatra.sock
chmod-socket    = 666
vacuum          = true
pidfile         = /var/www/html/pyatra-uwsgi.pid
plugins   = python
