{% extends 'admins/layout.html' %}
{% load  commontags %}
{% block page_wrapper %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Steakers</h1>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5px">
    <div class="col-sm-12">
      <a href="/admins/steakers/new" class="pull-right btn btn-sm btn-primary">Add New</a>
    </div>
  </div>
  {% include 'common/partials/alert-message.html' %}
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr class="th-row">
            <th>
              Title
            </th>
            <th>
              Steaker Image
            </th>
            <th>
              Action
            </th>
          </tr>
          {% for steaker in steakers %}
            <tr>
              <td>
                {{ steaker.title }}
              </td>
              <td>
                <img src="{{ steaker.image.url }}" height="100px;">
              </td>
              <td>
              <a href="/admins/steakers/{{steaker.id}}/edit" class="btn btn-danger btn-xs"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}