{% load common_tags %}
{% for v_templates in variations_with_self|grouped_in:3 %}
  <div class="item {% if forloop.counter == 1 %}active{% endif %}">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          {% for v_template in v_templates %}
            <div class="col-md-4 template_variation {% if forloop.counter == 1 %}main_variation{% endif %}" data-images_count="{{v_template.images_count}}" data-videos_count="{{ v_template.videos_count }}" data-template_id="{{ v_template.id }}">
              <div class="col-md-12 one select-template-link" data-template_id="{{v_template.id}}" data-category_id="{{ category.id }}"><img width="100%" src="{{ v_template.cover_image.url }}"/></div>
              <div class="col-md-12 light center">{{ v_template.title }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}