{% extends "yatra_app_layout.html" %}
{% load common_tags %}
{% block 'st-container' %}
  {% include 'st_menu.html' %}
  <div class="st-content">
    <div class="st-content-inner">
      <div id="page" class="hfeed site">
        {% include 'header.html' %}
        {% include 'vertical_nav.html' %}
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Brand</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:26%">
              <ul class="nav navbar-nav">
                <li class="{% if category == '*' %}activee{% endif %}"><a href="#">All <span class="sr-only">(current)</span></a></li>
                {% for categ in all_categories %}
                  <li><a href="#">{{ categ.title.upper }}</a></li>  
                {% endfor %}
                <li id="logout-li">
                  {% if request.user.is_authenticated %}
                    <a href="javascript: void(0);" data-href="/logout" id="logout">Logout</a>
                  {% endif %}
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <section id="testimonial" class="group testimonial-section onscreen fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="150">
          <div id="testimonial-home" class="carousel slide">
            <div class="carousel-inner bc parent_templates" data-category_id="{{category.id}}">
              {% for v_template in category.parent_templates.all %}
                <div class="item {% if template_id == v_template.id %}active{% endif %} ab" data-template_id="{{v_template.id}}">
                  <div class="col-md-12" >
                    <!-- <div class='cp_template_video'>
                      <video class="video-js vjs-default-skin" id='cp_template_video_{{v_template.id}}' data-cimage="{{ v_template.cover_image.url }}">
                        <source src="{{v_template.demo_file.url}}" type='video/mp4'></source>
                      </video>
                    </div> -->
                    <img src="{{ v_template.cover_image.url }}" alt="" class="img-g">
                    <div class="col-md-12" style="text-align:center;color:#fff;text-align: left;">
                      <div class="col-md-12 pd15">
                        <div class="col-md-8">
                          <span style="font-size: 25px;">{{ v_template.title|upper }}</span>
                        </div>
                        <div class="col-md-4">
                          <span class="free">Free</span>
                        </div>
                      </div>
                      <div class="col-md-12 pd15">
                        <p class="text">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta </p>
                      </div>
                    </div>       
                  </div>
                </div><!-- end item -->
              {% endfor %}
            </div><!-- end carousel-inner -->

            <a class="left carousel-control" href="#testimonial-home" role="button" data-slide="prev">
              <span class="fa fa-fw fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#testimonial-home" role="button" data-slide="next">
              <span class="fa fa-fw fa-chevron-right"></span>
            </a>
          </div>
        </section><!-- cd-section -->
        <section style="background-color:#110e02;padding-top: 5%;min-height:900px;" id="features" class=""  style="">

          <div class="row" style="padding-left:35%"> 
            <div class="col-md-3 hh dark">Picture Movie</div>
            <div class="col-md-3 hh dark">Mix Movie</div>
          </div>
          <div id="testimonial-homee" class="carousel slide">

            <div class="carousel-inner variation_templates">
              
            </div><!-- end carousel-inner -->

            <a style="padding-top:7%" class="left carousel-control" href="#testimonial-homee" role="button" data-slide="prev">
              <span class="fa fa-fw fa-chevron-left"></span>
            </a>
            <a style="padding-top:7%" class="right carousel-control" href="#testimonial-homee" role="button" data-slide="next">
              <span class="fa fa-fw fa-chevron-right"></span>
            </a>
          </div>
          <div id="uploader_container_div"><!-- this is the main div all the javascript depends upon, do not change in the html structure inside this div -->
            <div class="row">
              <div class="col-md-12 up-head"><span style="font-size:24px" class="yellow">IMAGES </span></div>
            </div>
            <div class="row">
              <div id="uploader_images" class="col-md-12"></div>
            </div>
            <div class="row">
              <div class="col-md-12 up-head" ><span style="font-size:24px" class="yellow">VIDEOS </span></div>
            </div>
            <div class="row">
              <div id="uploader_videos" class="col-md-12"></div>
            </div>
          </div>
          <div class="row"> 
            <div class="col-md-3 col-md-offset-6" style="margin-top:2% !important">
              <a class="hh dark center" id="upload_added_files">Upload</a>
            </div>
          </div>
          <div class="row" style="padding-left:46%;"> 
            <div class="col-md-3 hh dark center" style="margin-top:2% !important">
              <a class="hh dark center" id="render_session">RENDER</a>
            </div>
          </div>
          <div class="row text-center" id="final_video_container">
          </div>
        </section><!-- cd-section -->


        <section id="testimonial" class="group testimonial-section onscreen fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="150">
          <h1 class="testi">TESTIMONIALS</h1>
          <div id="testimonial-home" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active ab">
                <div class="col-md-12" >
                  <img src="images/assets/slide-1.jpg" alt="" class="img-g">
                  <div class="col-md-12" style="text-align:center;color:#fff;text-align: left;">
                    <div class="row" style="padding-left:35%;margin-top:1% !important"> 
                      <div class="col-md-3 hh dark center">Share</div>
                      <div class="col-md-3 hh dark center">Download</div>
                    </div>
                  </div>       
                </div>
              </div><!-- end item -->
            </div><!-- end carousel-inner -->
            <a class="left carousel-control" href="#testimonial-home" role="button" data-slide="prev">
              <span class="fa fa-fw fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#testimonial-home" role="button" data-slide="next">
              <span class="fa fa-fw fa-chevron-right"></span>
            </a>
          </div>
        </section><!-- cd-section -->



        <section id="credit" class="group footer-section onscreen fullscreen background parallax " >
          <div class="container-fluid">
            <div class="row">
              <div class="footer-inner">
                <figure>
                  <img src="images/logo-new-color.png" alt="" width="15%">
                </figure>
                <h3 class="animated fadeInDown">Your Journey, Frame by Frame</h3>
                <div class="socmed">
                  <ul>
                    <li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
                  </ul>
                </div><!-- end socmed -->

                <div class="site-credit">
                  <p>copyright © 2015 FOTOYATRA. All Rights Reserved.</p>
                </div>

              </div>
            </div><!-- end row -->
          </div><!-- end container -->
        </section><!-- end section -->
      </div>
    </div>
    <div id="all_uploaded_files">

    </div>
  </div>
{% endblock %}