{% load common_tags %}
{% load imagekit %}
<style type="text/css">
  #edit-image-modal .modal-content{
    border-radius: 0px !important;
  }
</style>
<div id="edit-image-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="temp_image_div">

        </div>
        <div id="modifications_div">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#transitions" aria-controls="transitions" role="tab" data-toggle="tab">Transitions</a></li>
            <li role="presentation"><a href="#presets" aria-controls="presets" role="tab" data-toggle="tab">Presets</a></li>
            <li role="presentation"><a href="#crop" aria-controls="crop" role="tab" data-toggle="tab">Crop</a></li>
            <li role="presentation"><a href="#steakers" aria-controls="steakers" role="tab" data-toggle="tab">Steakers</a></li>
            <li role="presentation"><a href="#texts" aria-controls="texts" role="tab" data-toggle="tab">Texts</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="transitions">
              {% include 'yatra_app/transitions_ui.html' %}
            </div>
            <div role="tabpanel" class="tab-pane" id="presets">
              {% include 'yatra_app/presets_ui.html' %}
            </div>
            <div role="tabpanel" class="tab-pane" id="crop">
              <div class="btn btn-primary cropping-done-btn">
                Crop Image
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="steakers">
              <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6">
                        <a href="javascript: void(0);" class="btn btn-primary place-steaker-btn">Place Steaker</a>
                      </div>
                    </div>
                    {% for steaker_group in steakers|grouped_in:4 %}
                      <div class="row">
                        {% for steaker in steaker_group %}
                          <div class="col-sm-3">
                            {% generateimage 'yatra_app:thumb_height_70' source=steaker.image -- class='steaker-btn' id=steaker|get_dom_id %}
                          </div>
                        {% endfor %}
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="texts">
              <div class="row">
                <div class="col-sm-12">
                  <textarea id="image-text-input"></textarea>
                  <br/>
                  <a href="javascript: void(0);" class="btn btn-primary add-text-btn">Add Text</a>
                  <br/>
                  <a href="javascript: void(0);" class="btn btn-primary place-text-btn">Place Text</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->