<div class="row" id="PresetFilters">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="vintage">Vintage</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="lomo">Lomo</a>
      </div>
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="clarity">Clarity</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="sinCity">Sin City</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="sunrise">Sunrise</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="crossProcess">Cross Process</a>
      </div>
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="orangePeel">Orange Peel</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="love">Love</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="grungy">Grungy</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="jarques">Jarques</a>
      </div>
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="pinhole">Pinhole</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="oldBoot">Old Boot</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="glowingSun">Glowing Sun</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="hazyDays">Hazy Days</a>
      </div>
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="herMajesty">Her Majesty</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="nostalgia">Nostalgia</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="hemingway">Hemingway</a>
        <a class="btn btn-primary presets" style="margin-right: 30px; min-width: 130px; margin-bottom: 20px;" data-preset="concentrate">Concentrate</a>
      </div>
    </div>
  </div>
</div>