<div class="row">
  <div class="col-md-6 col-lg-6"  style="margin-bottom: 20px;">
    <div id="brightness" data-transition="brightness" class="transitions" data-min="-100" data-max="100">Brightness</div>
  </div>
  <div class="col-md-6 col-lg-6" style="margin-bottom: 20px;">
    <div id="contrast" data-transition="contrast" class="transitions" data-min="-100" data-max="100">Contrast</div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6"  style="margin-bottom: 20px;">
    <div id="saturation" data-transition="saturation" class="transitions" data-min="-100" data-max="100">Saturation</div>
  </div>
  <div class="col-md-6 col-lg-6" style="margin-bottom: 20px;">
    <div id="vibrance" data-transition="vibrance" class="transitions" data-min="-100" data-max="100">Vibrance</div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6"  style="margin-bottom: 20px;">
    <div id="exposure" data-transition="exposure" class="transitions" data-min="-100" data-max="100">Exposure</div>
  </div>
  <div class="col-md-6 col-lg-6" style="margin-bottom: 20px;">
    <div id="hue" data-transition="hue" class="transitions" data-min="0" data-max="100">Hue</div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6"  style="margin-bottom: 20px;">
    <div id="sepia" data-transition="sepia" class="transitions" data-min="0" data-max="100">Sepia</div>
  </div>
  <div class="col-md-6 col-lg-6"  style="margin-bottom: 20px;">
    <div id="sharpen" data-transition="sharpen" class="transitions" data-min="0" data-max="100">Sharpen</div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6"  style="margin-bottom: 20px;">
    <div id="noise" data-transition="noise" class="transitions" data-min="0" data-max="100">Noise</div>
  </div>
  <div class="col-md-6 col-lg-6" style="margin-bottom: 20px;">
    <div id="clip" data-transition="clip" class="transitions" data-min="0" data-max="100">Clip</div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6" style="margin-bottom: 20px;">
    <div id="stackBlur" data-transition="stackBlur" class="transitions" data-min="0" data-max="20">Blur</div>
  </div>
</div>