{% load common_tags %}
<style type="text/css">
  #play-video-modal .modal-content{
    border-radius: 0px !important;
  }
</style>
<div id="play-video-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Preview Video</h4>
      </div>
      <div class="modal-body">
        <div id="play_video_div">
          
        </div>
      </div>
    </div>
  </div>
</div>