{% extends 'yatra/layout.html' %}
{% load commontags %}
{% block extra_css %}
  <script type="text/javascript" src="http://localhost:8080/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost:8080');
    console.log(socket);
    var myVar;
    var expected_percentages = [5, 50, 60, 70, 80, 90, 100];
    socket.on("progresschannel", function(message) {
      var message = JSON.parse(message);
      console.log(message);
      if(message.render_process_status != undefined){
        if(message.render_process_status == "finished"){
          $(".notification-row .alert").addClass("alert-info").html("Your video is ready, please wait, we are redirecting you to your video link");
          $(".notification-row").show()
          setTimeout(function () {
            window.location.href = "yatra/final_video";
          }, 3000);
        }
      }
    });
  </script>
  <link rel="stylesheet" type="text/css" href="/static/yatra/jquery-ui/jquery-ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/yatra/css/video-js.css"/>
  <link rel="stylesheet" type="text/css" href="/static/yatra/css/cropper/cropper.css"/>
  <link rel="stylesheet" type="text/css" href="/static/yatra/css/view_items.css"/>
  <style type="text/css">
    .body-background-overlay{
      background: url('{{selected_category.cover_image.url}}') no-repeat center center;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
      background-attachment: fixed;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
  </style>
{% endblock %}
{% block main_container %}
  <div class="row notification-row" style="display: none;">
    <div class="col-sm-12">
      <div class="alert" style="margin-top: 10px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="page-heading text-center">Items</h2>
    </div>
    <div class="col-sm-6">
      <form id='group-pics-form' method="post" action="/yatra/items/upload_many">
        <label class="btn btn-primary pull-right" for="group-pics" style="margin-top: 15px;">
          <input type="file" id="group-pics" multiple="multiple" style="display: none;"/>Upload Images
        </label>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <video class="video-js vjs-default-skin" controls preload="none" width="80%" height="200" poster="{{selected_category.cover_image.url}}" data-setup='{ "controls": true, "autoplay": false, "preload": "false" }'>
            <source src="{{selected_template.demo_file.url}}?ts={{''|curr_timestamp}}" type='video/mp4' />
            <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
            <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
          <div class="row">
            <div class="col-sm-12">
              <a class="btn-1" id="render" data-href="/yatra/render">Render</a>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row" style="margin-bottom: 30px;">
            {% for mock_item in mock_items|get_first_n_items:2 %}
              <div class="col-sm-6 no-padding">
                {% with uploaded_item=uploaded_items|get_ordered_item:mock_item.file_name %}
                  {% if uploaded_item %}
                    {% if mock_item.file_type == 'image' %}
                      <div class="item-image-div" style="width: 100%; height: 271px; background-size: cover;">
                        <img class="lazy item-img item-img-original" data-original="{{uploaded_item.attachment.url}}"/>
                    {% else %}
                      <div class="item-video-div">
                        <video class="video-js vjs-default-skin" controls preload="none" width="100%" height="271" poster="{{selected_category.cover_image.url}}" data-setup='{ "controls": true, "autoplay": false, "preload": "false" }'>
                          <source src="{{uploaded_item.attachment.url}}?ts={{''|curr_timestamp}}" type='video/mp4' />
                          <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                          <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                        </video>
                    {% endif %}
                  {% else %}
                    {% if mock_item.file_type == 'image' %}
                    <div class="item-image-div" style="width: 100%; height: 271px; background-size: cover;">
                      <img class="lazy item-img item-img-mocked" data-original="{{mock_item.tmp_path}}"/>
                    {% else %}
                    <div class="item-video-div">
                      <video class="video-js vjs-default-skin" controls preload="none" width="100%" height="271" poster="{{selected_category.cover_image.url}}" data-setup='{ "controls": true, "autoplay": false, "preload": "false" }'>
                        <source src="{{mock_item.tmp_path}}?ts={{''|curr_timestamp}}" type='video/mp4' />
                        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                      </video>
                    {% endif %}
                  {% endif %}
                    <div class="inner updown-transition">
                      <div class="item-action-container">
                        <a href="javascript: void(0);"><label><input type="file" class="item-upload-input" data-filetype="{{mock_item.file_type}}" data-itemnumber="{{mock_item.file_name}}"/>Upload</label></a>
                        <a href="javascript: void(0);"><label class="view-edit-item" data-itemnumber="{{mock_item.file_name}}" data-itemtype="{{mock_item.file_type}}">Edit</label></a>
                      </div>
                    </div>
                  </div>
                {% endwith %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% for grouped_mock_item in mock_items|get_all_items_from_n:2|grouped_in:3 %}
        <div class="row" style="margin-bottom: 30px;">
          {% for mock_item in grouped_mock_item %}
            <div class="col-sm-4 no-padding">
              {% with uploaded_item=uploaded_items|get_ordered_item:mock_item.file_name %}
                {% if uploaded_item %}
                  {% if mock_item.file_type == 'image' %}
                    <div class="item-image-div" style="width: 100%; height: 271px; background-size: cover;">
                      <img class="lazy item-img item-img-original" data-original="{{uploaded_item.attachment.url}}"/>
                  {% else %}
                    <div class="item-video-div">
                      <video class="video-js vjs-default-skin" controls preload="none" width="100%" height="271" poster="{{selected_category.cover_image.url}}" data-setup='{ "controls": true, "autoplay": false, "preload": "false" }'>
                        <source src="{{uploaded_item.attachment.url}}?ts={{''|curr_timestamp}}" type='video/mp4' />
                        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                      </video>
                  {% endif %}
                {% else %}
                  {% if mock_item.file_type == 'image' %}
                    <div class="item-image-div" style="width: 100%; height: 271px; background-size: cover;">
                      <img class="lazy item-img item-img-mocked" data-original="{{mock_item.tmp_path}}"/>
                  {% else %}
                    <div class="item-video-div">
                      <video class="video-js vjs-default-skin" controls preload="none" width="100%" height="271" poster="{{selected_category.cover_image.url}}" data-setup='{ "controls": true, "autoplay": false, "preload": "false" }'>
                        <source src="{{mock_item.tmp_path}}?ts={{''|curr_timestamp}}" type='video/mp4' />
                        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                      </video>
                  {% endif %}
                {% endif %}
                      <div class="inner">
                        <div class="item-action-container">
                          <a href="javascript: void(0);"><label><input type="file" class="item-upload-input" data-filetype="{{mock_item.file_type}}" data-itemnumber="{{mock_item.file_name}}"/>Upload</label></a>
                          <a href="javascript: void(0);"><label class="view-edit-item" data-itemnumber="{{mock_item.file_name}}" data-itemtype="{{mock_item.file_type}}">Edit</label></a>
                        </div>
                      </div>
                    </div>
              {% endwith %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="/static/yatra/jquery-ui/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/yatra/js/video.js"></script>
  <script type="text/javascript" src="/static/yatra/js/caman/caman.full.js"></script>
  <script type="text/javascript" src="/static/yatra/js/cropper/cropper.js"></script>
  <script type="text/javascript" src="/static/yatra/js/popcorn.js"></script>
  <script type="text/javascript" src="/static/yatra/js/view_items.js"></script>
{% endblock %}