{% extends 'yatra/layout.html' %}
{% load commontags %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="/static/yatra/css/view_categories.css"/>
{% endblock %}
{% block main_container %}
  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-heading">Categories</h2>
    </div>
  </div>
  <div class="columns-3">
    {% for grouped_categories in categories|grouped_in:3 %}
      <div class="row">
        {% for category in grouped_categories %}
          <div class="category-image col-sm-4 col-xs-4 col-md-4 col-lg-4 text-center">
            <img class="lazy updown-transition" data-original="{{category|get_resized:'600X337'}}"/>
            <div class="category-title">
              {{ category.title }}
            </div>
            <a class="btn-1 select-category-btn" href="/yatra/categories/{{category.id}}/select">Select Category</a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="columns-2">
  {% for grouped_categories in categories|grouped_in:2 %}
      <div class="row">
        {% for category in grouped_categories %}
          <div class="category-image col-sm-4 col-xs-4 col-md-4 col-lg-4 text-center">
            <img src="{{category|get_resized:'600X337'}}"/>
            <div class="category-title">
              {{ category.title }}
            </div>
            <a class="btn-1 select-category-btn" href="/yatra/categories/{{category.id}}/select">Select Category</a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="/static/yatra/js/view_categories.js"></script>
{% endblock %}