{% ifequal flash_data.status 'success' %}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success">{{ flash_data.message }}</div>
    </div>
  </div>
{% else %}
  {% ifequal  flash_data.status 'error' %}
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger">{{ flash_data.message }}</div>
      </div>
    </div>
  {% else %}
    <div class="row" style="display: none;">
      <div class="col-sm-12">
        <div class="alert"></div>
      </div>
    </div>
  {% endifequal %}
{% endifequal %}