<section id="about" class="group about-section onscreen fullscreen background parallax" data-img-width="1600" data-img-height="1064" data-diff="150">
  <div class="about">
    <div class="row">
      <div class="col-md-4 f-right" style="margin-top:10%">
        <!--<span>ABOUT US</span>-->
        <div class="col-md-12" style="text-align: right;"><h2 class="yellow">ABOUT US</h2></div>
        <p style="color:#fff; text-align:justify;-moz-text-align-last: right; text-align-last: right;">Hello, my name Steven Lee. I’m professional photographer lorem ipsum dolor sit amet onsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div><!-- end row -->
  </div><!-- end about -->
</section><!-- cd-section -->