<section id="intro" class="group carousel-section fullscreen background parallax">
  <!-- Header Carousel -->
  <div id="homeCarousel" class="carousel">
    <div class="flexslider">
      <ul class="slides">
        <li class="onscreen background parallax" style="background-image: url('/static/images/assets/slide-3.jpg')" data-img-width="1600" data-img-height="1064" data-diff="150">
          <div class="flex-caption">
            <center><img class="fotologo" src="/static/images/144.png" style="width:10%;"></center></center>
            <h3 class="animated fadeInDown">Your Journey, Frame by Frame</h3>
            <span class="animated fadeInUp yellow">Click, Create and Share. Make movies from your unforgetable moment of life.</span>
            <a href="#" class="togo animated flipInY">LEARN MORE</a>
          </div>
        </li>
      </ul>
    </div><!-- end flexslider -->
  </div><!-- end carousel -->
  <a href="#about" class="scroll-down cd-img-replace">scroll down</a>
</section><!-- cd-section -->