<nav class="st-menu st-effect-1 site-navigation navbar-collapse collapse" id="menu-1" role="navigation">
  <div class="nav-menu">
    <ul class="menu">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li class="has-child dropdown">
        <a href="portfolio.html" class="dropdown-toggle" data-toggle="dropdown">
          Portfolio<b class="caret fa fa-angle-down"></b>
        </a>
        <ul class="sub-menu">
          <li><a href="portfolio.html">Portfolio Page</a></li>
          <li><a href="portfolio-single.html">Portfolio Single Page</a></li>
        </ul>
      </li>
      <li class="has-child dropdown"> <!-- this is first level of main menu -->
        <a href="blog.html"  class="dropdown-toggle" data-toggle="dropdown">
          Blog<b class="caret fa fa-angle-down"></b>
        </a>
        <!-- add sub menu below an anchor -->
        <ul class="sub-menu"> <!-- For second level -->
          <li><a href="blog.html">Blog Page</a></li>
          <li><a href="blog-single.html">Blog Single Page</a></li>
        </ul>
      </li>
      <li><a href="service.html">Service</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="elements.html">Elements</a></li>
      <li><a href="search-result.html">Search Result</a></li>
      <li><a href="404.html">404 Page Not Found</a></li>
      <li><a href="FAQ.html">FAQ</a></li>
    </ul>
  </div><!-- end nav-menu -->
</nav><!-- end st-menu -->