<nav id="vertical-nav">
  <ul>
    <li>
      <a href="#intro" data-number="1">
        <span class="vdot"></span>
        <span class="vlabel">All</span>
      </a>
    </li>
    <li>
      <a href="#about" data-number="2">
        <span class="vdot"></span>
        <span class="vlabel">About</span>
      </a>
    </li>
    <li>
      <a href="#portfolio" data-number="3">
        <span class="vdot"></span>
        <span class="vlabel">Portfolio</span>
      </a>
    </li>
    <li>
      <a href="#features" data-number="4">
        <span class="vdot"></span>
        <span class="vlabel">Features</span>
      </a>
    </li>
    <li>
      <a href="#testimonial" data-number="5">
        <span class="vdot"></span>
        <span class="vlabel">Testimonial</span>
      </a>
    </li>
    <li>
      <a href="#contact" data-number="6">
        <span class="vdot"></span>
        <span class="vlabel">Contact</span>
      </a>
    </li>
    <li>
      <a href="#credit" data-number="7">
        <span class="vdot"></span>
        <span class="vlabel">Site Credit</span>
      </a>
    </li>
  </ul>
</nav>